{% load gntm_tags %}
{% if request.user|has_group:"gntm" %}
	<div class="panel panel-default">
	  <div class="panel-heading">Hallo {{user.name}}, dein Status</div>
	  <div class="panel-body">
		<div class="col-md-3 col-xs-6">
			<img class="img-circle" width="100" height="100" src="{{user.thumb}}" alt="Userimage" />
		</div>	  
		<div class="col-md-9 col-xs-6">
			Geld: {{user.money}}
			<hr>
			Aktien: {{user.aktien}}
		</div>
	  </div>
	</div>
{% else %}
	<div> Not Allowed, Gntm Group is missing </div>
{% endif %}